# Lists

#### Sort a list

In [86]:
l = [10, 1, 2]
ls = sorted(l)
ls

[1, 2, 10]

In [87]:
l.sort()
l

[1, 2, 10]

#### Create and add lists

In [88]:
l = [10]*10
l

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [89]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]
l1+l2

[1, 2, 3, 4, 10, 20, 30, 40]

In [90]:
l1[::-1]

[4, 3, 2, 1]

#### Copy

In [91]:
lcopy = list(l1)
lcopy2 = l1.copy()
lcopy3 = l1[:]

print(lcopy, lcopy2, lcopy3)

[1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

#### List comprehensions

In [92]:
l = [1,2,3,4,5]
lcomp = [ i*i for i in l]
lcomp

[1, 4, 9, 16, 25]

# Tuples

In [93]:
#immutable indexable -  can be more efficent than lists

#### Create and convert

In [94]:
tup = "Hello", 10, 4
tup2 = ("Hello",10,4,10)
tup3 = ("Hello",)
tup4 = tuple(["Hello",10])

print(tup,tup2,tup3,tup4)
print(tup[0])

('Hello', 10, 4) ('Hello', 10, 4, 10) ('Hello',) ('Hello', 10)
Hello

#### Count and get stuff out

In [95]:
tup2.count(10)

2

In [96]:
t = "Aron", 20, 30
name, age, stuff = t
print(name, age, stuff)

Aron 20 30

In [97]:
t1 = 0,1,2,3,4,5,6
i1, *i2, i3 = t1
print(i1)
print(i2)
print(i3)

0
[1, 2, 3, 4, 5]
6

#### Efficency vs lists

In [98]:
import sys
l = [0,1,2, "hello", False]
t = (0,1,2, "hello", False)
print(sys.getsizeof(l), "bytes")
print(sys.getsizeof(t), "bytes")

96 bytes
80 bytes

In [99]:
import timeit
print("List time:", timeit.timeit(stmt="[0,1,2,\"hello\",False]", number = 1_000_000))
print("Tuple time:",timeit.timeit(stmt="(0,1,2,\"hello\",False)", number = 1_000_000))

List time: 0.09003840000059427
Tuple time: 0.014390999999704945

# Dictionary

#### Create and access

In [100]:
d = {"name":"Aron", "age":22}
d["email"] = "asd@asd.com"
d1 = dict(name="Aron", age=22)

print(d,d1)

d["age"]

{'name': 'Aron', 'age': 22, 'email': 'asd@asd.com'} {'name': 'Aron', 'age': 22}

22

#### Delete from dict

In [101]:
del d1["name"]
d1

{'age': 22}

In [102]:
d1.pop("age")
d1

{}

#### Loop

In [103]:
for key in d.keys():
    print(key)

name
age
email

In [104]:
for key, value in d.items():
    print(key,value)

name Aron
age 22
email asd@asd.com

#### Copy

In [105]:
dcopy = dict(d)

#### Merge dicts

In [106]:
d1 = {"name":"Aron","age":22, "city":"Edi"}
d2 = dict(name="Lucy", age = 20, email= "asd@lucy.com")

d1.update(d2)
d1

{'name': 'Lucy', 'age': 20, 'city': 'Edi', 'email': 'asd@lucy.com'}

# Sets

#### Create

In [107]:
s = set([1,1,2,3,4,5])
s1 = set("Hello")

print(s,s1)

{1, 2, 3, 4, 5} {'l', 'o', 'H', 'e'}

#### Add and remove

In [108]:
s.add(10)
s.remove(10)
s.discard(10) #no error if element not found
s

{1, 2, 3, 4, 5}

In [109]:
s.pop()
s

{2, 3, 4, 5}

#### Set operations

In [110]:
odd = {1,3,5,7}
even = {0,2,4,6,8}

union = odd.union(even) #or update
inter = odd.intersection(even)
diff = s.difference(even)

print(union,inter,diff)
print(s.issubset(union))

{0, 1, 2, 3, 4, 5, 6, 7, 8} set() {3, 5}
True

#### Copy

In [111]:
scopy = set(s)
scopy = s.copy()

#### Frozen set

In [113]:
s = frozenset([1,2,3,4])
s

frozenset({1, 2, 3, 4})